{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css">
{% endblock %}
<!-- START Bootstrap-Cookie-Alert -->
<div class="alert text-center cookiealert" role="alert">
	Le site Web doit être utilisé pour fonctionner correctement &#x1F36A;  pliki cookies &#x1F36A; .
	<a href="https://cookiesandyou.com/" target="_blank"></a>
	<button type="button" class="btn btn-primary btn-sm acceptcookies">
		J'accepte
	</button>
</div>
<!-- END Bootstrap-Cookie-Alert -->
{% block javascripts %}
<script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>
{% endblock %}
